html {
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	margin: 0;
	margin-top: -17px;
	padding: 0;
	border: 0;
	background: #fff;
	font: 13px/15px Verdana, Arial, Helvetica, sans-serif;
}

img{
	border: none;
}

table, tr, td, tr {
	border-collapse: collapse;
	vertical-align: top;
	text-align: left;
	font: 13px/15px Verdana, Arial, Helvetica, sans-serif;
}

a{
	color: #8D0D19;
}

#header{
	height: 70px;
	width: 100%;
	text-align: left;
	background: #1A446C;
	color: #D4E6F4; 
}

#header h1{
	padding: 1em;
}

#main {
	min-height: 600px;
	
	background: #EEE4B9;
	padding: 2em;
}

#footer{
	height: 2em;
	padding: 1em;
	text-align: center;
	background: #1A446C; 
	color: #D4E6F4;
}

table.bordered tr th, table.bordered tr td{
	border: 1px solid #000;
}

#pagination .selected{
	font-weight: bold;
	color: #8D0D19;
}

 

#invisBox1{
	margin-top: 10px;
	margin-left: -3px;
	background: #c2c8ea;
	width:600px;
	height: 128px;
	border-radius: 10px;
	display: none;
	position: absolute;
}

#invisBox2{
	margin-top: 10px;
	margin-left: -3px;
	background: #c2c8ea;
	width:400px;
	height: 125px;
	border-radius: 10px;
	display: none;
	position: absolute;
}

#invisBox3{
	margin-top: -8px;
	margin-left: -3px;
	background: #c2c8ea;
	width:400px;
	height: 125px;
	border-radius: 10px;
	display: none;
	position: absolute;
}

#invisBox1Close{
	position: absolute;
	margin-left: 580px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	cursor: pointer;
}

#invisBox2Close{
	margin-left: 380px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	cursor: pointer;
}

#invisBox3Close{
	margin-left: 380px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	cursor: pointer;
}


#mainBox{
	cursor: pointer;
}


#inp_subj_name{
	margin-left: 20px;
	width: 500px;
}

#submit_subj_name{
	margin-left: 20px;
	width: 110px;
}

#timeBox{
	display: block;
	cursor: pointer;
}


#submit_subj_time{
	margin-left: 20px;
	width: 110px;
}

#inp_subj_time{
	margin-left: 20px;
	width: 180px;
}


#group_sel_test{
	display: block;
	cursor: pointer;
}

#groupName{
	margin-top: 16px;
	margin-left: 20px;
	width: 156px;
}

#submit_group_name{
	margin-left: 20px;
	width: 110px;
}



